*{
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

:root{
    font-size: 16px;
}
body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
.navbar{
 padding: 0 10px;
}
.navbar-nav{
    padding:0;
}
.header{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
img{
margin: 0;
padding: 0;
}

a {
    text-decoration: none;
    color: black;
}


.link-icon{
    width: 6rem;
}

@media screen and (min-width:600px) {
    .wrapper{
    grid-template-columns: 1fr 1fr;
}

    
}